<!DOCTYPE html>
<html>
  <head>
    <title>Grupo02</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>

  <body>
    <% if user_signed_in? %>
    <% end %>

    <% if flash[:notice] %>
      <p class="notice", style="background-color: rgba(0, 209, 177)"><%=flash[:notice]%></p>
    <% end %>

    <% if flash[:alert]%>
      <p class="alert", style="background-color: rgba(0, 209, 177)"><%= flash[:alert]%></p>
    <% end %>
    <%= yield %>

  </body>
</html>


